<h2>Prusa Mesh Leveling</h2>
<form class="form-horizontal">
    <h3>GCODE Script</h3>
    <p>
    Specify the GCODE script to perform the mesh bed level operation as well as to check its status after the leveling operation completes. You may also include your own stuff here, like bed temps or PINDA temperature stabilization. Just make sure your extras happen before G81.
    </p>
    <div class="control-group">
        <label class="control-label">Mesh Leveling GCode Script</label>
        <div class="controls">
            <textarea rows="4" class="block" data-bind="value: settingsViewModel.settings.plugins.PrusaMeshMap.do_level_gcode"></textarea>
        </div>
    </div>
    <h3>Heightmap Options</h3>
    <div class="control-group" title="Color Scheme">
        <label class="control-label">Colormap</label>
        <div class="controls">
            <select data-bind="options: matplotlib_heightmap_theme_options, value: settingsViewModel.settings.plugins.PrusaMeshMap.matplotlib_heightmap_theme"></select>
            <span class="help-inline">See <a href="https://matplotlib.org/examples/color/colormaps_reference.html" target="matplotlib-colors">colormap reference</a> for previews.</span>
        </div>
        <div class="controls">
            <input type="checkbox" data-bind="checked: settingsViewModel.settings.plugins.PrusaMeshMap.dark_theme">Use dark theme</input>
        </div>
    </div>
</form>
